/*input, input:hover, input:focus {border:none!important;outline:none!important}*/

p {
    font-size: 7vh;
}

.dateTime {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 90vh;
    width: 100vw;
}

.display {
    display: none;
}